<div class="container" id="home-container">

    <% if @searched_results %>
      <div class='searched-results'>
        <%= render 'search_results', results: @searched_results %>
      </div>
    <% end %>

    <div class="text-center text-white" id="home-headings">
        <h1 class="display-4 text-white fw-bold" style="font-size: 46px;">Welcome to Alpha-Blog</h1>
        <p class="lead fw-bold" style="color: slategrey; font-style: italic;">The world lives here</p>

        <% if user_signed_in? %>
          <%= link_to "My Feed", "/articles?show=my-feed", class: "btn btn-outline-info btn-lg fw-bold" %>
        <% else %>
          <%= link_to "Get Started", new_user_registration_path, class: "btn btn-outline-info btn-lg fw-bold" %>
        <% end %>

    </div>
</div>
