@import 'bootstrap/dist/css/bootstrap';



// body {
//   overflow: scroll;
// }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}





.navbar {
    background-color: black !important;
}


.navbar-toggler {
  background-color: #00BFFF !important;
}


.search-bar::placeholder {
  color: white;
}

.search-bar {
  width: 20rem;
  background-color: black;
  border-color: var(--bs-dark);
  color: white;
}

.search-bar:focus {
  background-color: black;
  border-color: var(--bs-dark);
  color: white;
}


.searched-results {
  background: black;
  opacity: 100%;
  width: 21rem;
  position: absolute;
  right: 11px;
  top: 0px;
  overflow-y: auto;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  max-height: -webkit-fill-available;
}


#searched-item {
  background: black;
  color: white;
}

// #searched-item-card-body {
//   // border-bottom: var(--bs-gray-800) 1px solid;
// }





#home-nav-link {
    color: white !important;
}


#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    background-image: asset-url('home-page-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90%;
    min-width: 100%;
    position: absolute;
}


#home-headings {
    position: absolute;
    width: 310px;
    font-size: 25px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#home-footer {
    background-color: black;
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: small;
}

// #auth-form {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }


.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
  border-radius: 5px;

}
.flickr_pagination .disabled {
  color: #aaaaaa; }
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084; }
.flickr_pagination a {
  border: white;
  color: #0063dc;
  text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: white;
  background: #0063dc;
  color: white; }
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; }
.flickr_pagination .previous_page {
  margin-right: 1em; }
.flickr_pagination .next_page {
  margin-left: 1em; }
